.collectionGrid {
    display: flex;
    justify-content: space-between;
    background-color: #eee;         
    font-size: 40px;
    margin-top: 100px;
  }
  .collectionGrid .collectionList {
    width: 32%;
  }

  .collectionList {
      margin-left: 40px;
      margin-right: 40px;
  }

  .collectionHeader {
      background-color: gray;
      font-weight: bold;
      padding-top: 10px;
  }

  .collectionItem {
      border: 3px solid black;
      font-size: 30px;
      padding: 10px;
  }

 .symbol {
    max-height: 60px;
  }